. modal-errors . modal-header {
  background-color: #dc3545;
  color: white;
}

.btn-check:checked + .btn-outline-secondary {
  background-color: #0d6efd;
  border-color: #0d6efd;
  color: white;
}

select[multiple] {
  height: auto;
  min-height: 120px;
}

.form-check-input. is-invalid {
  border-color: #dc3545;
}

.form-check-input.is-invalid ~ .form-check-label {
  color: #dc3545;
}
